# Ignore all local appsettings.json files in any project
**/appsettings.Development.json
**/appsettings.Production.json

# Ignore VS files
.vs/
*.user
*.suo

# Ignore build outputs globally
bin/
obj/
/Projects/interview-system/InterviewSystem.API/appsettings.Production.json
/Projects/ProcurementSystem.API/appsettings.Production.json
