@model CreateAdvert

<div class="row">
    <div class="row-md-6">
        @*wothout "multipart/form-data", the file content will always be null*@
        <form asp-controller="AdvertManagement" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" />
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="imageFile" value="Upload an image" />
            </div>

            <button type="submit" class="btn btn-default">Create</button>

        </form>
    </div>
</div>