@model Category

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-md-7">
        <div class="widget p-5">
            <form asp-action="Upsert">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="CategoryId" value="@Model.CategoryId" />
                <div class="mb-3">
                    <div class='e-btn-group custom-rbt-group'>
                        <input type="radio" id="radioLeft" name="CategoryType" value="Expense" checked="@(Model.CategoryType=="Expense")" />
                        <label class="e-btn" for="radioLeft">Expense</label>
                        <input type="radio" id="radioRight" name="CategoryType" value="Income" checked="@(Model.CategoryType=="Income")" />
                        <label class="e-btn" for="radioRight">Income</label>
                    </div>
                    <span asp-validation-for="CategoryType" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    @*                <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />*@

                    @*
                        value="Title" is for the Category Title property
                        ejs-for works like asp-for
                        name attribute follows class/model property
                    *@
                    <ejs-textbox id="title" name="Title" placeholder="Title" ejs-for="Title" floatLabelType="Always" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="icon" name="Icon" placeholder="Icon" ejs-for="Icon" floatLabelType="Always"></ejs-textbox>
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
